/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FAFAFA;
}

/* Header */
.header {
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
}

.header-link {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Chat Container */
.chat-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
    background-color: #F2F2F2;
}

/* Messages List */
#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

#messages li {
    margin-bottom: 1px;
    padding: 2px;
    word-wrap: break-word;
    font-size: 12px;
    border: 1px solid #B2DFDB;
    background-color: #E0F2F1;
    border-radius: 1px;
}

/* Buttons */
button, .btn-success {
    background: #FFA500;
    color: #FFFFFF;
    border: none;
}

button:hover, .btn-success:hover {
    background: #FB8C00;
}

.btn-primary {
    background: #00695C;
    color: #FFFFFF;
}

.btn-primary:hover {
    background: #004D40;
}

/* Live Score and Matchup */
.matchup, .live-score {
    background-color: #00796B;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.live-score h3, .live-score p {
    margin: 5px 0;
}

#gameStats p {
    color: #00695C;
}

/* Form Control */
.form-control, button.btn-success {
    margin-top: 10px;
    flex-grow: 1;
    margin-right: 5px;
    height: 30px;
    font-size: 12px;
}

/* Navigation Buttons */
.btn-back {
    background-color: #008000;
    color: #FFFFFF;
    border: 1px solid #008000;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-back:hover {
    background-color: #FFFFFF;
    color: #006400;
    border: 1px solid #006400;
}

.btn-send {
    background-color: #003366;
    color: white;
    margin-top: 10px;
    white-space: nowrap;
    padding: 0 10px;
    flex-grow: 0;
}

.matchup-title {
    font-size: 24px;
    text-align: center;
    color: #004D40;
}

/* Live Score Container */
.live-score-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 4px;
}

.score-cell {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 0 5px;
    box-sizing: border-box;
    background-color: #008080;
    color: #FFFFFF;
    border-radius: 4px;
    min-width: 100px;
    height: 100px;
}

.team-name, .team-score {
    margin: 1px 0;
}

.team-name {
    font-size: 15px;
}

.team-score {
    font-size: 24px;
    color: #FFD700;
    font-weight: bold;
}

/* Game Time */
.game-time {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #00695C;
}

.back-to-home {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

/* Sport Name */
.sport-name {
    text-align: center;
    font-size: 14px;
    color: #00695C;
    margin-top: 5px;
}

/* Input Group */
.input-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

/* Betting Info */
.betting-info {
    padding: 15px;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.bet-box {
    padding: 10px;
    background-color: #F2F2F2;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
}

.bet-box h5, .bet-box p {
    margin: 0 auto;
    padding: 5px 0;
    font-size: 14px;
}

.bet-box p {
    color: #333;
    margin-bottom: 4px;
}

/* Probability Bar */
.probability-bar {
    height: 20px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

.probability-bar .away,
.probability-bar .home,
.probability-bar .under,
.probability-bar .over {
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.probability-bar .away { background-color: red; }
.probability-bar .home { background-color: green; }
.probability-bar .under { background-color: red; }
.probability-bar .over { background-color: green; }

.probability-text {
    font-size: 11px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
}

.probability-text.left-align {
    left: 0;
}

.probability-text.right-align {
    right: 0;
}

/* Chat Box */
.chat-box {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    margin-top: 5px;
    overflow-y: scroll;
    height: 300px;
    padding: 5px;
}

/* Bet Odds */
.bet-odds-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bet-odds {
    font-size: 12px;
}

/* Chat Box Header */
.chat-box-header {
    margin-top: 20px;
    padding: 10px;
    background-color: #004D40;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Projected Score */
.projected-score-container {
    text-align: center;
    margin: 20px auto;
    padding: 8px 0;
    background-color: #E6E6E6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.projected-score-box {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.projected-score-title {
    font-weight: normal;
    margin-bottom: 4px;
    color: #888888;
    font-size: 16px;
}

.projected-scores {
    font-size: 1.4rem;
    color: #555555;
}

/* Comparison Chart Container */
#comparison-chart-container {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    text-align: center;
    box-sizing: border-box;
}

.comparison-header {
    margin: 0 auto;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
}

#comparison-chart-container canvas {
    width: 100% !important;
    height: auto;
    margin: 0 auto;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    #comparison-chart-container {
        padding: 10px;
        width: 100%;
        max-height: 600px;
    }

    #comparison-chart-container canvas {
        height: auto !important;
        max-width: 100%;
    }

    .chartjs-size {
        font-size: 10px !important;
    }
}

/* Adjust container to center the charts */
.betting-info .d-flex {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    gap: 10px; /* Add spacing between the charts */
}

/* VSIN Chart Box */
.vsin-chart-box {
    background-color: #F2F2F2; /* Adjusted to match the outer box */
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    width: 200px; /* Ensure fixed width for consistency */
}

