/* General Styles */
body {
    background-image: url('/static/logos/space_background.png'); /* Path to your background image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed in place */
    color: #FFFFFF; /* Optional: Set text color to white for better contrast */
    font-family: 'Georgia', serif;
    color: Black;
}

/* Text Centering and Padding */
.mt-5.text-center {
    padding-top: 3px;
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: bold; /* Corrected font-style to font-weight */
}

/* Header Logo */
.header .logo {
    width: 8%; /* Adjusted width to make it smaller */
    max-width: 8%; /* Adjusted max-width to make it smaller */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 767px) {
    .header .logo {
        width: 25%; /* Adjusted width for smaller screens */
        max-width: 50%
        height: auto; /* Maintain aspect ratio */
    }
}

/* Filter Buttons */
.filter-buttons .filter-button {
    width: auto;
    margin: 0 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
}

.filter-buttons .filter-button.active {
    background-color: orange;
    transform: translateY(2px);
}

.filter-buttons .filter-button:hover {
    background-color: #FFFFFF;
    color: grey;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.filter-buttons .filter-button:active {
    background-color: #424F5C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
    color: #FFFFFF;
}

/* Game Button */
.game-button {
    width: 100%;
    white-space: normal;
    margin-bottom: 10px;
    border: 1px solid #8C9CAA;
    color: #FFFFFF;
    background-color: #8C9CAA;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Georgia', serif;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.game-button:hover {
    background-color: #FFFFFF;
    color: #8C9CAA;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.game-button:active {
    background-color: #424F5C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
    color: #FFFFFF;
}

/* Header */
.header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}

/* Sport Section */
.sport-section {
    padding-top: 10px;
}

.sport-title {
    padding: 10px;
    background-color: #424F5C;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: italic;
}

/* Collapsible */
.collapsible {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Grid Layout */
.col-sm-4 {
    padding: 5px 10px; /* Combined padding */
}

.container {
    padding-bottom: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    margin-top: 5px;
}

h2 {
    color: #36454F;
}

/* Search Container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.search-box {
    box-shadow: none;
}

/* Later Games Title */
.later-games-title {
    padding: 10px;
    background-color: #5A6B7A;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px 0 10px 0;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.later-games-title .arrow {
    margin-left: 10px;
}

/* Container with Margin Top */
.container.mt-5 {
    padding-top: 5px;
}

/* Top Right Positioning */
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1em;
    color: #333;
}
/* Pop-up styles */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    transition: opacity 0.5s ease-in-out; /* Transition for smooth appearance */
    opacity: 0; /* Start as fully transparent */
}

.popup.show {
    opacity: 1; /* Fully opaque when shown */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Adjusted width for a skinnier box */
    max-width: 400px; /* Max width to prevent it from being too wide */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .popup-content {
        width: 80%; /* Adjusted width for mobile devices */
        max-width: 80%; /* Adjusted max-width for mobile devices */
    }
}

.popup .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup .close:hover,
.popup .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup .btn {
    margin: 10px;
}


.app-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.app-links-container .app-icon-wrapper {
    margin: 0 1rem;
    text-align: center;
}

.app-links-container .app-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
}

.app-links-container .caption {
    font-size: 0.875rem;
}

/* User Count Section */
.user-count-section {
    background-color: #424F5C; /* Dark background color */
    padding: 10px;
    margin-top: 5px; /* Space above the section */
    margin-bottom: 5px; /* Space below the section */
    font-family: 'Georgia', serif;
}

.user-count-section h2 {
    margin: 0;
    font-size: 16px;
    color: #FFFFFF; /* White text color */
    font-style: italic;
}

