<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - ZephyrAlpha.io</title>
    <link rel="icon" href="/static/logos/z_logo2.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login-banner.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ9LXBN8Q6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZ9LXBN8Q6');
</script>

<body>
<div class="header text-center">
    <a href="/"><img src="/static/logos/z_logo2.png" alt="Zephyr Alpha Logo" class="logo"></a>
    <div class="top-right">
        <span>Welcome, {{ username }} | <a href="/">Home</a> | <a href="/logout">Logout</a></span>
    </div>
</div>
<div class="container mt-5">
    <h2 class="text-center">Forgot Password</h2>
    {% if success_message %}
    <div class="alert alert-success text-center">
        {{ success_message }}
    </div>
    {% endif %}
    <form action="/forgot-password" method="post" class="mt-4">
        <div class="form-group">
            <label for="email">Enter your email address:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
    <div class="text-center mt-3">
        <p><a href="/login" class="btn btn-secondary">Back to Login</a></p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/js/banner.js"></script>
</body>
</html>
