<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZephyrAlpha.io</title>
    <link rel="icon" href="/static/logos/z_logo2.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ9LXBN8Q6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZ9LXBN8Q6');
</script>

<body>
    <header class="header navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="/static/logos/z_logo2.png" alt="Zephyr Alpha Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Welcome, {{ current_user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>

    <div class="container mt-4">
        <div class="coin-challenge-section d-flex justify-content-between align-items-center">
            <div class="my-picks">
                <a href="https://get.fliffapp.com/QlC3/44iysnqy">
                    <img src="/static/images/fliff.png" alt="Fliff" class="img-fluid app-icon">
                    <div class="small caption">Mobile: <br> 2X Deposit</div>
                </a>
            </div>
            <div class="daily-challenges d-flex align-items-center">
                <div class="progress-circle">
                    +
                </div>
                <span>10,000+ players already rely on ZephyrAlpha.io for their sports betting decisions!</span>
            </div>
            <div class="coins">
                <a href="https://app.prizepicks.com/sign-up?invite_code=PR-KACLQHL">
                    <img src="/static/images/prizepicks.png" alt="PrizePicks" class="img-fluid app-icon">
                    <div class="small caption">100% Match <br> Up To $100</div>
                </a>
            </div>
        </div>

        <nav class="nav mt-4">
            {% if favorite_games_by_sport %}
                <a class="nav-link" href="#" data-target="favorites">Favorites</a>
            {% endif %}
            <a class="nav-link active" href="#" data-target="home">Today</a>
            {% for sport in sports %}
                <a class="nav-link" href="#" data-target="{{ sport | lower }}">{{ sport }}</a>
            {% endfor %}
        </nav>

        {% if favorite_games_by_sport %}
            <div id="favorites" class="tab-content mt-4">
                {% for sport, games in favorite_games_by_sport.items() %}
                    <div class="sport-section mt-4" id="favorites-{{ sport | lower }}">
                        <div class="sport-title">
                            {{ sport }}
                        </div>
                        <div class="game-cards">
                            <div class="row">
                                {% for game in games %}
                                    <div class="col-sm-12">
                                        <div class="card game-card" data-live="{{ game.live }}">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ game.homeTeam }} vs {{ game.awayTeam }}</h5>
                                                <p class="card-text time"><i class="fas fa-clock"></i> {{ game.formatted_start_time }}</p>
                                                <a href="/game/{{ game.id }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="home" class="tab-content mt-4">
            {% for sport, games in games_by_sport.items() %}
                {% if games.upcoming %}
                    <div class="sport-section mt-4" id="home-{{ sport | lower }}">
                        <div class="sport-title">
                            {{ sport }}
                        </div>
                        <div class="game-cards">
                            <div class="row">
                                {% for game in games.upcoming %}
                                    <div class="col-sm-12">
                                        <div class="card game-card" data-live="{{ game.live }}">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ game.homeTeam }} vs {{ game.awayTeam }}</h5>
                                                <p class="card-text time"><i class="fas fa-clock"></i> {{ game.formatted_start_time }}</p>
                                                <a href="/game/{{ game.id }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% for sport, games in games_by_sport.items() %}
            <div id="{{ sport | lower }}" class="tab-content mt-4" style="display:none;">
                <div class="sport-title">
                    {{ sport }}
                </div>
                <div class="game-cards">
                    <div class="row">
                        {% for game in games.upcoming %}
                            <div class="col-sm-12">
                                <div class="card game-card" data-live="{{ game.live }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ game.homeTeam }} vs {{ game.awayTeam }}</h5>
                                        <p class="card-text time"><i class="fas fa-clock"></i> {{ game.formatted_start_time }}</p>
                                        <a href="/game/{{ game.id }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="later-games-title collapsible mt-4">Show Later Games <span class="arrow">&#9660;</span></div>
                <div class="content" style="display: none;">
                    <div class="game-cards">
                        <div class="row">
                            {% for game in games.later %}
                                <div class="col-sm-12">
                                    <div class="card game-card" data-live="{{ game.live }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ game.homeTeam }} vs {{ game.awayTeam }}</h5>
                                            <p class="card-text time"><i class="fas fa-clock"></i> {{ game.formatted_start_time }}</p>
                                            <a href="/game/{{ game.id }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
