<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZephyrAlpha.io</title>
    <link rel="icon" href="/static/logos/foresyte_logo.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login-banner.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ9LXBN8Q6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZ9LXBN8Q6');
</script>

<body>

{% if not current_user.is_authenticated %}
<!-- Login/Signup Banner -->
<div class="login-signup-banner">
    <p>Don't have an account? <a href="/register">Register here!</a></p>
</div>
{% endif %}

<div class="header text-center">
    <img src="/static/logos/z_logo.png" alt="Zephyr Alpha Logo" class="logo">
    {% if current_user.is_authenticated %}
    <div class="top-right">
        <span>Welcome, {{ current_user.username }} | <a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a></span>
    </div>
    {% endif %}
</div>

<div class="container">
    <div class="app-links-container">
        <div class="app-icon-wrapper">
            <a href="https://get.fliffapp.com/QlC3/44iysnqy">
                <img src="/static/images/fliff.png" alt="Fliff" class="img-fluid app-icon">
                <div class="small caption">Mobile: 2X Deposit</div>
            </a>
        </div>
        <div class="app-icon-wrapper">
            <a href="https://app.prizepicks.com/sign-up?invite_code=PR-KACLQHL">
                <img src="/static/images/prizepicks.png" alt="PrizePicks" class="img-fluid app-icon">
                <div class="small caption">100% Match Up To $100</div>
            </a>
        </div>
    </div>

    <!-- User Count Section -->
    <div class="user-count-section text-center">
        <h2><span id="userCount">10,000+</span> players already rely on ZephyrAlpha.io for their sports betting decisions!</h2>
    </div>

    <h2 class="mt-5 text-center">Upcoming Matchups</h2>

    <div class="legend text-center mt-3">
        <p><span role="img" aria-label="fire">🔥</span><i> indicates live games</i></p>
    </div>

    <div class="search-container mt-3">
        <input type="text" id="searchBox" class="form-control search-box" placeholder="Search games...">
    </div>

    <div id="noResults" style="display: none;" class="alert alert-info text-center">
        No results found.
    </div>

    {% set sports_dict = {} %}
    {% for sport in sports %}
        {% set _dummy = sports_dict.update({sport: []}) %}
    {% endfor %}

    {% for game in games %}
        {% if game.sport in sports_dict %}
            {% set _dummy = sports_dict[game.sport].append(game) %}
        {% endif %}
    {% endfor %}

    {% for sport, games_in_sport in sports_dict.items() %}
        {% if games_in_sport %}
            <div class="sport-section">
                <div class="sport-title">{{ sport }}</div>
                <div class="row">
                    {% for game in games_in_sport %}
                        <div class="col-sm-4">
                            <button class="btn game-button" data-live="{{ game.live }}" onclick="location.href='/game/{{ game.id }}';">
                                {{ game.homeTeam }} vs {{ game.awayTeam }}
                                <div class="small text-center">
                                    {{ game.formatted_start_time }}
                                </div>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="container mt-5">
    <div class="later-games-title collapsible">Show Later Games <span class="arrow">&#9660;</span></div>
    <div class="content" style="display: none;">
        {% set later_sports_dict = {} %}
        {% for sport in sports %}
            {% set _dummy = later_sports_dict.update({sport: []}) %}
        {% endfor %}

        {% for game in later_games %}
            {% if game.sport in later_sports_dict %}
                {% set _dummy = later_sports_dict[game.sport].append(game) %}
            {% endif %}
        {% endfor %}

        {% for sport, games_in_sport in later_sports_dict.items() %}
            {% if games_in_sport %}
                <div class="sport-section">
                    <div class="sport-title">{{ sport }}</div>
                    <div class="row">
                        {% for game in games_in_sport %}
                            <div class="col-sm-4">
                                <button class="btn game-button" data-live="{{ game.live }}" onclick="location.href='/game/{{ game.id }}';">
                                    {{ game.homeTeam }} vs {{ game.awayTeam }}
                                    <div class="small text-center">
                                        {{ game.formatted_start_time }}
                                    </div>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% if not current_user.is_authenticated %}
<!-- Pop-up HTML -->
<div id="signupPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>Sign up now!</h2>
        <p>Pick your favorite teams to monitor and more...</p>
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="btn btn-secondary">Sign In</a>
    </div>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/js/home_page.js"></script>

{% if not current_user.is_authenticated %}
<script src="/static/js/popup.js"></script>
{% endif %}

</body>
</html>
